<!-- header -->
<app-header></app-header>

<!-- login page -->

<div class="row ">
    <div class="col-7 ">
<img class="m-5" height="400px" src="https://media-api.advertisingvietnam.com/oapi/v1/media?uuid=cca12331-217b-419a-84f0-ac95a981849f&resolution=1440x756&type=image" alt="login image">
    </div>
    <div class="col-5 mt-5">
        <form (ngSubmit)="login()" [formGroup]="loginForm" class="border p-5 mt-5 me-5">
                <div class="form-floating mb-2">
                  <input name="phno" formControlName="phno" type="text" class="form-control" id="floatingInput" placeholder="Account Number">
                  <label for="floatingInput">Phone Number</label>

                </div>
                <!-- invalid acno -->
<div *ngIf="this.loginForm.get('phno')?.errors&&this.loginForm.get('phno')?.touched" 
 class="text-danger mb-2">
    Invalid Phone Number
</div>

                <div class="form-floating mb-2">
                  <input name="pswd" formControlName="pswd" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>

                </div>
                                <!-- invalid pswd -->
<div *ngIf="this.loginForm.get('pswd')?.errors&&this.loginForm.get('pswd')?.touched" 
class="text-danger mb-2">
   Invalid Password
</div>
<div class="text-danger">
    {{errorMsg}}
</div>
              
                <div class="mt-4">
                    <button type="submit" class="btn btn-success">Login
                        <span *ngIf="successMsg" class="spinner-border text-warning" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </span>
                    </button>
                    &nbsp;
                    <span>New User? Click Here to <a routerLink="/register">Register</a></span>
                </div>
        </form>
    </div>
</div>