<app-header></app-header>
<div class="container mt-2">
    <h2 class="text-primary">Registration Form</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cupiditate atque suscipit provident, consequatur
        minima ea voluptatem aut harum esse quidem placeat molestias. Iste vel asperiores veritatis ipsam, voluptatibus
        quidem? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis beatae autem dolore amet, fugit, animi
        corporis saepe consequatur hic quidem at aperiam modi quia id porro vitae rem nobis. Impedit?</p>
</div>

<div class="row mt-3 mb-3">
    <div class="col-4 mt-5 text-center ">
        <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeeUl9IZDN97pBQNgeunx6dD1df-4g7vkPFw&usqp=CAU" alt="register image">
        <br>
        <br>
        <button class="btn btn-warning mt-5"> <i class="fa-solid fa-circle-left"></i>Back</button>
    </div>
   
    <div class="col-8">
        <form (ngSubmit)="register()" [formGroup]="registerForm" class="border p-5 mt-5 me-5">
            <div class="form-floating mb-2">
                <input name="uname" formControlName="uname" type="text" class="form-control" id="floatingUser" placeholder="Account Number">
                <label for="floatingUser">Username</label>
<div *ngIf="this.registerForm.get('uname')?.errors&&this.registerForm.get('uname')?.touched" 
class="text-danger mb-2">
   Invalid Username
    </div>
              </div>

                <div class="form-floating mb-2">
                  <input name="phno" formControlName="phno" type="text" class="form-control" id="floatingInput" placeholder="Account Number">
                  <label for="floatingInput">Phone Number</label>

                </div>
                <!-- invalid acno -->
<div *ngIf="this.registerForm.get('phno')?.errors&&this.registerForm.get('phno')?.touched" 
 class="text-danger mb-2">
    Invalid Phone Number
</div>

                <div class="form-floating mb-2">
                  <input name="pswd" formControlName="pswd" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>

                </div>
                                <!-- invalid pswd -->
<div *ngIf="this.registerForm.get('pswd')?.errors&&this.registerForm.get('pswd')?.touched" 
class="text-danger mb-2">
   Invalid Password
</div>

<div class="form-floating mb-2">
    <input name="ename" formControlName="ename" type="text" class="form-control" id="floatingEname" placeholder="Full Name">
    <label for="floatingUser">Full name</label>
<div *ngIf="this.registerForm.get('ename')?.errors&&this.registerForm.get('ename')?.touched" 
class="text-danger mb-2">
Invalid Employee name
</div>
  </div>
  <div class="form-floating mb-2">
    <input name="email" formControlName="email" type="text" class="form-control" id="floatingEmail" placeholder="E-mail">
    <label for="floatingUser">E-mail ID</label>
<div *ngIf="this.registerForm.get('email')?.errors&&this.registerForm.get('email')?.touched" 
class="text-danger mb-2">
Invalid E-mail
</div>
  </div>
              
                <div class="mt-4">
                    <button type="submit" class="btn btn-success">Register</button>
                    &nbsp;
                    <span>Already a customer? Click Here to <a routerLink="/">Sign In</a></span>
                </div>
        </form>
    </div>
</div>